{% block page_action_toolbar %}
<ul class='nav nav-tabs' id="custom-nav">
    <li class="custom-btn" id="opentix">Open Tickets</li>
    <li class="custom-btn" id='recenttix'>Recent Tickets</li>
    <li class="custom-btn" id='pendingtix'>Pending Tickets</li>
    <li class="custom-btn" id='orders'>Billing And Orders</li>
    </ul>

{% endblock %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Menu 1</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>